<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451183390094-gnec5hqfe9idn4iin5r29da0ov1d29ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451183390094-gnec5hqfe9idn4iin5r29da0ov1d29ls</string>
	<key>API_KEY</key>
	<string>AIzaSyBeo6r0Hsidhuc5U4waCnnE2OHTwuPAu_E</string>
	<key>GCM_SENDER_ID</key>
	<string>451183390094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashcardSpelling</string>
	<key>PROJECT_ID</key>
	<string>firebaseswiper</string>
	<key>STORAGE_BUCKET</key>
	<string>firebaseswiper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451183390094:ios:5ec6814a9c403ebdc7c8df</string>
	<key>DATABASE_URL</key>
	<string>https://firebaseswiper-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>